#/**
# Copyright (c) 2014 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Anup Patel (anup@brainfault.org)
# @brief config file for clocksource drivers.
# */

menu "Clocksource Drivers"

config CONFIG_ARM_TIMER_SP804
	bool "SP804 Dual-mode Timer"
	default n
	help
		Primecell SP804 clocksource driver.

config CONFIG_ARM_TWD
	bool "ARM Local Timer"
	default n
	help
		ARM Local Timer clocksource driver.

config CONFIG_MXC_EPIT
	bool "Freescale IMX Progammable Interval Timer"
	default n
	help
		Freescale IMX Progammable Interval Timer (EPIT) clocksource driver.

config CONFIG_MXC_GPT
	bool "Freescale IMX General Purpose Timer"
	default n
	help
		Freescale IMX General Purpose Timer (GPT) clocksource driver.

config CONFIG_BCM2835_TIMER
	bool "Broadcom BCM2835 Timer"
	default n
	help
		Broadcom BCM2835 (Raspberry Pi) Timer clocksource driver.

config CONFIG_SUN4I_TIMER
	bool "Allwinner Sun4i Timer"
	default n
	help
		Allwinner Sun4i (A10 & A13) Timer clocksource driver.

endmenu

