#/**
# Copyright (c) 2012 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    openconf.cfg
# @author  Anup Patel (anup@brainfault.org)
# @brief   Board commons config file for ARM
#*/

config CONFIG_DEFTERM_EARLY_PRINT
	bool "Early defterm prints"
	default n

choice
	prompt "Early defterm device"
	depends on CONFIG_DEFTERM_EARLY_PRINT
	default CONFIG_DEFTERM_EARLY_UNKNOWN
	help
		Select type of device for defterm early prints

	config CONFIG_DEFTERM_EARLY_UNKNOWN
		bool "unknown"
		help
			Unknown early print device

	config CONFIG_DEFTERM_EARLY_PL011
		bool "pl011"
		help
			PL011 based early prints

	config CONFIG_DEFTERM_EARLY_UART8250_8BIT
		bool "uart8250-8bit"
		help
			UART 8250 (8bit aligned registers) based early prints

	config CONFIG_DEFTERM_EARLY_UART8250_32BIT
		bool "uart8250-32bit"
		help
			UART 8250 (32bit aligned registers) based early prints

	config CONFIG_DEFTERM_EARLY_IMX
		bool "i.MX"
		help
			i.MX based early prints

endchoice

config CONFIG_DEFTERM_EARLY_BASE_PA
	hex "Early defterm device physical address"
	depends on CONFIG_DEFTERM_EARLY_PRINT
	default 0x00000000

config CONFIG_ARM_SCU
	bool "ARM Snoop Control Unit (SCU)"
	depends on CONFIG_SMP
	default n

config CONFIG_ARM_SMP_OPS
	bool "Common SMP operations"
	depends on CONFIG_SMP
	default n

config CONFIG_ARM_SMP_SPIN_TABLE
	bool "Spin-table SMP operation"
	depends on CONFIG_ARM_SMP_OPS
	default n

config CONFIG_ARM_SMP_PSCI
	bool "PSCI SMP operation"
	depends on CONFIG_ARM_SMP_OPS
	default n

config CONFIG_ARM_SMP_IMX
	bool "i.MX SMP operation"
	depends on CONFIG_ARM_SMP_OPS
	default n

config CONFIG_ARM_SMP_IPI
	bool "Common SMP IPIs"
	depends on CONFIG_SMP
	default n

source "arch/arm/board/common/versatile/openconf.cfg"
source "arch/arm/board/common/omap/openconf.cfg"
source "arch/arm/board/common/imx/openconf.cfg"

