#/**
# Copyright (c) 2014 Pranavkumar Sawargaonkar.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Pranavkumar Sawargaonkar (pranav.sawargaonkar@gmail.com)
# @brief config file for GPIO core and drivers supported by xvisor.
# */

menu "GPIO Device Support"

config CONFIG_GPIOLIB
	bool "GPIO Support"
	default n
	help
	  This enables GPIO support through the generic GPIO library.
	  You only need to enable this, if you also want to enable
	  one or more of the GPIO drivers below.

          If unsure, say N.

if CONFIG_GPIOLIB

config CONFIG_ARCH_NR_GPIO
        int "Maximum number of GPIOs"
        default 1024
        help
          Maximum number of GPIOs in the system.
          If unsure, leave the default value.

config CONFIG_GPIO_GENERIC
	bool "Generic GPIO support"
	default n
	help
	  Generic GPIO driver framework.

config	CONFIG_OF_GPIO
	bool "GPIO OF Support"
	default n
endif

config CONFIG_GPIO_MXC
	def_bool y
	depends on ARCH_MXC
	select CONFIG_GPIOLIB
	select CONFIG_GPIO_GENERIC
	select CONFIG_EXTENDED_IRQ

endmenu
