
/ {
	templates {
		x86_64_generic {
			model = "x86_64_generic";
			device_type = "guest";
			guest_asid = <1>;

			vcpus {
				vcpu0 {
					device_type = "vcpu";
					compatible = "amd-k6";
					start_pc = <0xff00>;
				};
			};

			aspace {
				guest_irq_count = <256>;

				mem0 {
					manifest_type = "real";
					address_type = "memory";
					guest_physical_addr = <0x00000000>;
					host_physical_addr = <0x0c000000>;
					physical_size = <0x04000000>;
					device_type = "ram";
				};

				uart0 {
					device_type = "serial";
					compatible = "ns16550a";
					manifest_type = "virtual";
					address_type = "io";
					guest_physical_addr = <0x2f8>;
					physical_size = <0x8>;
					fifo_size = <64>;
					interrupts = <12>;
				};

				i440fx0 {
					device_type = "pci-host-controller";
					compatible = "i440fx";
					manifest_type = "virtual";
					address_type = "io";
					guest_physical_addr = <0xcf8>;
					physical_size = <8>;
					nr_buses = <1>;
					bus_start_id = <0>;

					pci_bus0 {
						devices {
							psm {
								device_type = "psm"; /* PCI Shared Memory */
								compatible = "xpsm"; /* Xvisor PCI Shared Memory device */
								manifest_type = "virtual";
								address_type = "memory";
								device_id = <1>;
							};
						};
					};

				};

				mc146818@0 {
					device_type = "rtc";
					compatible = "motorola,mc146818";
					manifest_type = "virtual";
					address_type = "io";
					guest_physical_addr = <0x70>;
					physical_size = <2>;
					interrupts = <8>;
				};

				i8259@0 {
					device_type = "pic";
					compatible = "i8259a";
					manifest_type = "virtual";
					address_type = "io";
					guest_physical_addr = <0x20>;
					physical_size = <2>;
					base_irq = <0>;
					num_irq = <8>;
					child_pic = <1>;
					parent_irq = <16>; /* vector 16 to be presented on LAPIC */
				};

				i8259@1 {
					device_type = "pic";
					compatible = "i8259a";
					manifest_type = "virtual";
					address_type = "io";
					guest_physical_addr = <0xa0>;
					physical_size = <2>;
					base_irq = <8>;
					num_irq = <8>;
					child_pic = <1>;
					parent_irq = <2>;
				};

				lapic {
					device_type = "pic";
					compatible = "lapic";
					manifest_type = "virtual";
					address_type = "memory";
					guest_physical_addr = <0xfee00000>;
					physical_size = <0x1000>;
					base_irq = <16>;
					num_irq = <240>;
				};

				i8254@0 {
					device_type = "pit";
					compatible = "i8253,i8254";
					manifest_type = "virtual";
					address_type = "io";
					guest_physical_addr = <0x40>;
					physical_size = <4>;
					interrupts = <0>;
				};

				ps2devices@0 {
					device_type = "input";
					compatible = "i8042,keyboard,mouse";
					manifest_type = "virtual";
					address_type = "io";
					guest_physical_addr = <0x60>;
					physical_size = <4>;
					interrupts = <1 12>;
				};
			};
		};
	};
};
