CONFIG_ARCH_ARM=y
CONFIG_CPU_GENERIC_V8=y
CONFIG_SMP=y
CONFIG_VAPOOL_SIZE_MB=16
CONFIG_ARM_VGIC=y
CONFIG_ARM_MAX_DTB_SIZE=0x10000
CONFIG_BOARD_GENERIC=y
CONFIG_ARM_SMP_PSCI=y
CONFIG_SCHEDALGO_PRR=y
CONFIG_TSLICE_10MS=y
CONFIG_BLOCK=y
CONFIG_NET=y
CONFIG_VSERIAL=y
CONFIG_VDISK=y
CONFIG_VDISPLAY=y
CONFIG_VINPUT=y
CONFIG_VSCREEN=y
CONFIG_VSDAEMON=y
CONFIG_VSDAEMON_CHARDEV=y
CONFIG_VSDAEMON_MTERM=y
CONFIG_VTEMU=y
CONFIG_VFS=y
CONFIG_VFS_EXT4=y
CONFIG_VFS_FAT=y
CONFIG_IMAGE_LOADER=y
CONFIG_ARM_GIC=y
CONFIG_ARM_GIC_V3=y
CONFIG_BCM2835_INTC=y
CONFIG_BCM2836_LOCAL_INTC=y
CONFIG_BCM2835_TIMER=y
CONFIG_SERIAL=y
CONFIG_SERIAL_8250_UART=y
CONFIG_SERIAL_PL01X=y
CONFIG_SERIAL_BCM283X_MU=y
CONFIG_RTC=y
CONFIG_RTC_PL031=y
CONFIG_BLOCK_RBD=y
CONFIG_BLOCK_INITRD=y
CONFIG_MMC=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_BCM2835=y
CONFIG_INPUT=y
CONFIG_FB=y
CONFIG_FB_ARMCLCD=y
CONFIG_NET_DEVICES=y
CONFIG_ETHERNET_DRIVERS=y
CONFIG_ETHER_SMSC_91x=y
CONFIG_COMMON_CLK_BCM2835=y
CONFIG_POWER_SUPPLY=y
CONFIG_POWER_RESET=y
CONFIG_POWER_RESET_BCM2835=y
CONFIG_I2C=y
CONFIG_I2C_BCM2835=y
CONFIG_EMU_VIRTIO=y
CONFIG_EMU_VIRTIO_MMIO=y
CONFIG_EMU_SYS=y
CONFIG_EMU_SYS_ARM_SYSREGS=y
CONFIG_EMU_SYS_SP810=y
CONFIG_EMU_SYS_VMINFO=y
CONFIG_EMU_PIC=y
CONFIG_EMU_PIC_GIC=y
CONFIG_EMU_PIC_PL190=y
CONFIG_EMU_TIMER=y
CONFIG_EMU_TIMER_SP804=y
CONFIG_EMU_TIMER_ARM_MPTIMER=y
CONFIG_EMU_CACHE_L2X0=y
CONFIG_EMU_MISC_ZERO=y
CONFIG_EMU_MISC_ARM11MPCORE=y
CONFIG_EMU_MISC_A9MPCORE=y
CONFIG_EMU_PT_SIMPLE=y
CONFIG_EMU_NET=y
CONFIG_EMU_NET_LAN9118=y
CONFIG_EMU_NET_SMC91C111=y
CONFIG_EMU_NET_VIRTIO=y
CONFIG_EMU_BLOCK=y
CONFIG_EMU_BLOCK_VIRTIO=y
CONFIG_EMU_DISPLAY=y
CONFIG_EMU_DISPLAY_PL110=y
CONFIG_EMU_DISPLAY_SIMPLEFB=y
CONFIG_EMU_INPUT=y
CONFIG_EMU_INPUT_PS2=y
CONFIG_EMU_INPUT_PL050=y
CONFIG_EMU_SERIAL=y
CONFIG_EMU_SERIAL_PL011=y
CONFIG_EMU_CONSOLE=y
CONFIG_EMU_CONSOLE_VIRTIO=y
CONFIG_EMU_RTC=y
CONFIG_EMU_RTC_PL031=y
CONFIG_EMU_GPIO=y
CONFIG_EMU_GPIO_PL061=y
CONFIG_EMU_WDT=y
CONFIG_EMU_WDT_SP805=y
