#/**
# Copyright (c) 2012 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    openconf.cfg
# @author  Anup Patel (anup@brainfault.org)
# @brief   Board config file for Versatile Express Cortex A15x4
# */

config CONFIG_BOARD
	string
	default "vexpress-a15"

config CONFIG_VEXPRESS
	bool
	select CONFIG_DTC
	select CONFIG_CPATCH if CONFIG_CORTEX_A15
	select CONFIG_LIBFDT
	select CONFIG_SERIAL
	select CONFIG_SERIAL_PL01X
	select CONFIG_EMU_SYS
	select CONFIG_EMU_SYS_ARM_SYSREGS
	select CONFIG_EMU_SYS_SP810
	select CONFIG_EMU_PIC
	select CONFIG_EMU_PIC_GIC
	select CONFIG_EMU_TIMER
	select CONFIG_EMU_TIMER_SP804
	select CONFIG_EMU_CACHE_L2X0
	select CONFIG_EMU_MISC_ZERO
	select CONFIG_EMU_MISC_A9MP_PRIV
	select CONFIG_EMU_SERIAL
	select CONFIG_EMU_SERIAL_PL011
	select CONFIG_EMU_RTC
	select CONFIG_EMU_RTC_PL031
	select CONFIG_EMU_GPIO
	select CONFIG_EMU_GPIO_PL061
	select CONFIG_EMU_NET
	select CONFIG_EMU_NET_LAN9118
	default y

config CONFIG_ARM_GIC
	bool
	default y

config CONFIG_ARM_TIMER_SP804
	bool
	default y

menu "Versatile Express Cortex-A15 Options"

if CONFIG_CPU_CORTEX_A15

choice
	prompt "DTS Configuration"
	default CONFIG_VEXPRESS_A15_ONE_GUEST_PBA8_DTS
	help
		Select DTS configuration to use

	config CONFIG_VEXPRESS_A15_ONE_GUEST_PBA8_DTS
		bool "1x pb-a8 guest"
		help
		 This option enables DTS for one PB-A8 Guest

	config CONFIG_VEXPRESS_A15_ONE_GUEST_VEX_A9_DTS
		bool "1x vexpress-a9 guest"
		help
		 This option enables DTS for one VExpress-A9 Guest

	config CONFIG_VEXPRESS_A15_TWO_GUEST_PBA8_DTS
		bool "2x pb-a8 guest"
		help
		 This option enables DTS for two PB-A8 Guests

endchoice

endif

if CONFIG_CPU_CORTEX_A15_VE

choice
	prompt "DTS Configuration"
	default CONFIG_VEXPRESS_A15_VE_ONE_GUEST_PBA8_DTS
	help
		Select DTS configuration to use

	config CONFIG_VEXPRESS_A15_VE_ONE_GUEST_PBA8_DTS
		bool "1x pb-a8 guest"
		help
		 This option enables DTS for one PB-A8 Guest

	config CONFIG_VEXPRESS_A15_VE_ONE_GUEST_VEX_A9_DTS
		bool "1x vexpress-a9 guest"
		help
		 This option enables DTS for one VExpress-A9 Guest

	config CONFIG_VEXPRESS_A15_VE_TWO_GUEST_PBA8_DTS
		bool "2x pb-a8 guest"
		help
		 This option enables DTS for two PB-A8 Guests

endchoice

endif

endmenu
