#/**
# Copyright (c) 2011 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    omap3.cfg
# @author  Anup Patel (anup@brainfault.org)
# @brief   Config file for OMAP3 based boards
#*/

if CONFIG_CPU_OMAP3

choice
	prompt "Target Board"
	default CONFIG_BOARD_BEAGLE
	help
		ARM boards based on CORTEX-A8

	config CONFIG_BOARD_BEAGLE
		bool "beagle"
		select CONFIG_DTC
		select CONFIG_CPATCH
		select CONFIG_BBFLASH
		select CONFIG_LIBFDT
		select CONFIG_OMAP3
		select CONFIG_SERIAL
		select CONFIG_SERIAL_OMAP_UART
		help
			Beagle board from TI
endchoice

if CONFIG_BOARD_BEAGLE

config CONFIG_BOARD
	string
	default "beagle"

source "arch/arm/board/beagle/openconf.cfg"

endif

endif
