#/**
# Copyright (c) 2011 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    openconf.cfg
# @author  Anup Patel (anup@brainfault.org)
# @author  Jean-Christophe Dubois (jcd@tribudubois.net)
# @brief   Board config file for ARM boards
#*/

choice
	bool
	prompt "Target Board/SOC"
	help
		Select a target Board/SOC from available options

	config CONFIG_BOARD_GENERIC
		bool "generic"
		select CONFIG_CPATCH
		select CONFIG_CLKDEV_LOOKUP
		select CONFIG_ARM_SMP_OPS if CONFIG_SMP
		select CONFIG_ARM_SMP_IPI if CONFIG_SMP
		select CONFIG_ARM_SMP_SPIN_TABLE if CONFIG_SMP
		select CONFIG_ARM_SMP_SCU if CONFIG_SMP
		select CONFIG_COMMON_CLK
		help
			Generic board.

endchoice

menu "ARM Board Options"

if CONFIG_BOARD_GENERIC

config CONFIG_BOARD
	string
	default "generic"

source "arch/arm/board/generic/openconf.cfg"

endif

source "arch/arm/board/common/openconf.cfg"

endmenu
