
/dts-v1/;

/ {
	vmm {
		#address-cells = <1>;
		#size-cells = <0>;
	};

	host {
		#address-cells = <2>;
		#size-cells = <1>;
		model = "x86_64_generic";
		device_type = "host";

		cpus {
			#address-cells = <1>;
			#size-cells = <0>;
			cpu_freq_mhz = <1000>;

			cpu0 {
				device_type = "cpu";
				model = "Intel Atom Family";
			};
		};

		memory {
			/* NOTE: By default QEMU will only proivde 128 MB
			 * unless specified by "-m" option. If you have
			 * X MB then we will be able to access only first
			 * X MB starting at physical_addr.
			 */
			physical_addr = <0x00100000ULL>;
			physical_size = <0x10000000ULL>; /* 256M */
		};
	};
};
