
/dts-v1/;

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	model = "x86_64_generic";

	chosen { };
	aliases { };

	cpus {
		cpu0 {
			device_type = "cpu";
			model = "Intel x86_64 Family";
		};
	};

	memory { 
		device_type = "memory"; 
		reg = <0x0 0x00100000 0x0 0x10000000>; /* 256 MB */
	};

	motherboard {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";

		ps2 {
			device_type = "serio";
			compatible = "i8042";
		};
	};

	vmm {
		#address-cells = <1>;
		#size-cells = <0>;
	};
};
