#/**
# Copyright (c) 2010 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Anup Patel (anup@brainfault.org)
# @brief config file for memory management options
# */

config CONFIG_HEAP_SIZE
	int "Size of heap in KiBs"
	default 1024

choice
	prompt "Heap allocator"
	default CONFIG_HEAP_BUDDY
	help
		Choose a dynamic memory allocator.

config CONFIG_HEAP_BUDDY
	bool "Buddy System"
	help
		Buddy sytem memory allocator

config CONFIG_HEAP_TRIVIAL
	bool "Trivial"
	help
		Trivial memory allocator.

endchoice

if CONFIG_HEAP_BUDDY
menu "Buddy System Configuration"
	config CONFIG_BUDDY_HOUSE_KEEPING_PERCENT
		int "Portion of heap used for house keeping (25 => 25% & 50 => 50%)"
		range 1 99
		default 25

	config CONFIG_BUDDY_MIN_BLOCK_SIZE_SHIFT
		int "Size of smallest allocation (2 => 4 Bytes & 12 => 4 KiB)"
		range 2 12
		default 2

	config CONFIG_BUDDY_MAX_BLOCK_SIZE_SHIFT
		int "Size of biggest allocation (12 => 4 KiB & 20 => 1 MB)"
		range 12 20
		default 12
endmenu
endif

