#/**
# Copyright (c) 2010 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Anup Patel (anup@brainfault.org)
# @brief config file for memory management options
# */

config CONFIG_HEAP_SIZE_MB
	int "Size of heap (in MBs)"
	default 4

choice
	prompt "Heap allocator"
	default CONFIG_HEAP_BUDDY
	help
		Choose a dynamic memory allocator.

config CONFIG_HEAP_BUDDY
	bool "Buddy System"
	help
		Buddy sytem memory allocator

endchoice

