/*
 * Copyright (C) 2014 Institut de Recherche Technologique SystemX and OpenWide.
 * Originally from Jean-Christophe Dubois, and modified by
 * Jimmy Durand Wesolowski (jimmy.durand-wesolowski@openwide.fr)
 * to split device tree files between i.MX6-specific and Sabrelite-specific
 * definitions, and add the Anatop definition.
 * Inspired by the Linux Kernel 3.13.6 i.MX6 device tree file.
 */

#include "imx6q-pinfunc.h"

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "freescale,imx6";
	model = "imx6q";

	chosen { };

	aliases { };

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a9";
			reg = <0>;
			enable-method = "smp-scu";
			cpu-clear-addr = <0x10000034>;
			cpu-release-addr = <0x10000030>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a9";
			reg = <1>;
			enable-method = "smp-scu";
			cpu-clear-addr = <0x10000034>;
			cpu-release-addr = <0x10000030>;
		};

		cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a9";
			reg = <2>;
			enable-method = "smp-scu";
			cpu-clear-addr = <0x10000034>;
			cpu-release-addr = <0x10000030>;
		};

		cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a9";
			reg = <3>;
			enable-method = "smp-scu";
			cpu-clear-addr = <0x10000034>;
			cpu-release-addr = <0x10000030>;
		};
	};

        clocks {
		#address-cells = <1>;
		#size-cells = <0>;

		ckil {
			compatible = "imx-ckil", "fixed-clock";
			clock-frequency = <32768>;
		};

		ckih1 {
			compatible = "imx-ckih1", "fixed-clock";
			clock-frequency = <0>;
		};

		osc {
			compatible = "imx-osc", "fixed-clock";
			clock-frequency = <24000000>;
		};
	};

	scu { /* Snoop Control Unit */
      		device_type = "scu";
      		compatible = "arm,cortex-a9-scu";
      		reg = <0x00a00000 0x100>;
		interrupts = <53>;
	};

	gic { /* Generic Interrupt Controller */
      		device_type = "pic";
      		compatible = "arm,cortex-a9-gic";
      		reg = <0x00a01000 0x1000
		       0x00a00100 0x100>;
	};

	twd-timer { /* Local Timer */
      		device_type = "timer";
      		compatible = "arm,cortex-a9-twd-timer";
      		reg = <0x00a00600 0x20>;	/* Local timer registers */
		ref-counter-freq = <24000000>;	/* Reference counter frequency */
		interrupts = <29>;
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";

		aips-bus@02000000 { /* AIPS1 */
			compatible = "fsl,aips-bus", "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0x02000000 0x100000>;
			ranges;

			gpio3: gpio@020a4000 {
				compatible = "fsl,imx6q-gpio", "fsl,imx35-gpio";
				reg = <0x020a4000 0x4000>;
				interrupts = <102 103>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
			};

			anatop: anatop@020c8000 {
				compatible = "fsl,imx6q-anatop", "syscon", "simple-bus";
				reg = <0x020c8000 0x1000>;
				interrupts = <49 54 127>;
			};

			gpc@020dc000 {
				compatible = "fsl,imx6q-gpc";
				reg = <0x020dc000 0x4000>;
				interrupts = <89 90>;
			};

			clks: ccm@020c4000 {
				compatible = "fsl,imx6q-ccm";
				reg = <0x020c4000 0x4000>;
				interrupts = <87 88>;
				#clock-cells = <1>;
			};

			iomuxc: iomuxc@020e0000 {
				compatible = "fsl,imx6dl-iomuxc", "fsl,imx6q-iomuxc";
				reg = <0x020e0000 0x4000>;

				ecspi1 {
					pinctrl_ecspi1_1: ecspi1grp-1 {
						fsl,pins = <
							MX6QDL_PAD_EIM_D17__ECSPI1_MISO 0x100b1
							MX6QDL_PAD_EIM_D18__ECSPI1_MOSI 0x100b1
							MX6QDL_PAD_EIM_D16__ECSPI1_SCLK 0x100b1
						>;
					};
				};

				pwm4 {
					pinctrl_pwm4: pwm4grp {
						fsl,pins = <
							MX6QDL_PAD_SD1_CMD__PWM4_OUT 0x1b0b1
						>;
					};
				};
			};

			spba-bus@02000000 {
				#address-cells = <1>;
				#size-cells = <1>;

				ecspi1: ecspi@02008000 {
					compatible = "fsl,imx6q-ecspi", "fsl,imx51-ecspi";
					reg = <0x02008000 0x4000>;
					interrupts = <63>;
					clocks = <&clks 112>, <&clks 112>;
					clock-names = "ipg", "per";
					status = "disabled";
				};

				ecspi2: ecspi@0200c000 {
					compatible = "fsl,imx6q-ecspi", "fsl,imx51-ecspi";
					reg = <0x0200c000 0x4000>;
					interrupts = <64>;
					clocks = <&clks 113>, <&clks 113>;
					clock-names = "ipg", "per";
					status = "disabled";
				};

				ecspi3: ecspi@02010000 {
					compatible = "fsl,imx6q-ecspi", "fsl,imx51-ecspi";
					reg = <0x02010000 0x4000>;
					interrupts = <65>;
					clocks = <&clks 114>, <&clks 114>;
					clock-names = "ipg", "per";
					status = "disabled";
				};

				ecspi4: ecspi@02014000 {
					compatible = "fsl,imx6q-ecspi", "fsl,imx51-ecspi";
					reg = <0x02014000 0x4000>;
					interrupts = <66>;
					clocks = <&clks 115>, <&clks 115>;
					clock-names = "ipg", "per";
					status = "disabled";
				};

				ecspi5: ecspi@02018000 {
					compatible = "fsl,imx6q-ecspi", "fsl,imx51-ecspi";
					reg = <0x02018000 0x4000>;
					interrupts = <67>;
					clocks = <&clks 116>, <&clks 116>;
					clock-names = "ipg", "per";
					status = "disabled";
				};

				pwm4: pwm@0208c000 {
					#pwm-cells = <2>;
					compatible = "fsl,imx6q-pwm", "fsl,imx27-pwm";
					reg = <0x0208c000 0x4000>;
					interrupts = <118>;
					clocks = <&clks 62>, <&clks 148>;
					clock-names = "ipg", "per";
				};
			};

			SERIAL1: uart1 {
				compatible = "freescale,imx-uart";
				reg = <0x02020000 0x4000>;
				clock-frequency = <3000000>;
				interrupts = <58>;
			};

			SERIAL2: uart2 {
				compatible = "freescale,imx-uart";
				reg = <0x021e8000 0x4000>;
				clock-frequency = <3000000>;
				interrupts = <59>;
			};

			SERIAL3: uart3 {
				compatible = "freescale,imx-uart";
				reg = <0x021ec000 0x4000>;
				clock-frequency = <3000000>;
				interrupts = <60>;
			};

			SERIAL4: uart4 {
				compatible = "freescale,imx-uart";
				reg = <0x021f0000 0x4000>;
				clock-frequency = <3000000>;
				interrupts = <61>;
			};

			SERIAL5: uart5 {
				compatible = "freescale,imx-uart";
				reg = <0x021f4000 0x4000>;
				clock-frequency = <3000000>;
				interrupts = <62>;
			};

			epit1 {
				device_type = "timer";
				compatible = "freescale,epit-timer";
				reg = <0x020d0000 0x4000>;
				clock-frequency = <38999040>;
				timer_num = <0>;
				interrupts = <88>;
			};

			epit2 {
				device_type = "timer";
				compatible = "freescale,epit-timer";
				reg = <0x020d4000 0x4000>;
				clock-frequency = <38999040>;
				timer_num = <1>;
				interrupts = <89>;
			};

			gpt {
				device_type = "timer";
				compatible = "fsl,imx6q-gpt";
				reg = <0x02098000 0x4000>;
				clock-frequency = <1000000>;
				timer_num = <2>;
				interrupts = <87>;
			};
		};
	};
};


