#/**
# Copyright (c) 2013 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Anup Patel (anup@brainfault.org)
# @brief config file for input device emulators.
# */

menu "Input Device Emulators"

config CONFIG_EMU_INPUT
	tristate "Enable Input Emulators"
	depends on CONFIG_VINPUT
	default n
	help
		Enable/Disable Input Device Emulators.

config CONFIG_EMU_INPUT_PS2
	tristate "PS/2 Keyboard/Mouse Emulation"
	depends on CONFIG_EMU_INPUT
	default n
	help
		PS/2 Emulation Library.

config CONFIG_EMU_INPUT_PL050
	tristate "PL050 (AMBA KMI)"
	depends on CONFIG_EMU_INPUT_PS2
	default n
	help
		PrimeCell PL050 Keyboard/Mouse Interface Emulator.

config CONFIG_EMU_INPUT_I8042
	bool "i8042 Keyboard Controller Emulator"
	depends on CONFIG_EMU_INPUT_PS2
	default n
	help
		Primary PC Keyboard.

endmenu

