#/**
# Copyright (c) 2014 Himanshu Chauhan
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Himanshu Chauhan (hschauhan@nulltrace.org)
# @brief config file for PCI layer emulation.
# */

comment "PCI Host Controller Emulators"

config CONFIG_EMU_I440FX
	tristate "I440FX Emulation"
	default y
	help
		Enable/Disable I440FX PMC emulation

config CONFIG_EMU_GPEX
	tristate "Generic PCIe Host Controller Emulation"
	default n
	help
		Enable/Disable GPEX emulation

