#/**
# Copyright (c) 2010 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @version 1.0
# @author Anup Patel (anup@brainfault.org)
# @brief config file for memory management options
# */

menu "Memory Management"

config CONFIG_HEAP_SIZE
       int "Size of heap for xvisor"
       default 131072

config CONFIG_VMM_STACK_SIZE
	int "Size of stack used by xvisor"
	default 8192

config CONFIG_VMM_INTERRUPT_STACK_SIZE
	int "Size of stack for interrupt handling."
	default 4096

choice
       prompt "Memory allocators"
       default CONFIG_MM_TRIVIAL if CONFIG_ARCH_ARM
       default CONFIG_MM_BUDDY if CONFIG_ARCH_MIPS
       help
           Choose a dynamic memory allocator.

config CONFIG_MM_TRIVIAL
	bool "Trivial"
	help
	  Trivial memory allocator.

config CONFIG_MM_BUDDY
       bool "Buddy System"
       help
	  Buddy sytem memory allocator
endchoice

if CONFIG_MM_BUDDY
menu "Buddy System Configuration"
     config CONFIG_MIN_BLOCK_SIZE_SHIFT
     	    int "Size of smallest allocation (1 => 4 Bytes & 11 => 4 KiB)"
     	    range 2 12
	    default 2

     config CONFIG_BINS_MAX_ORDER
     	    int "Number of bins for holding multiples min block size"
	    default 11
endmenu
endif

endmenu

