#/**
# Copyright (c) 2011 Pranav Sawargaonkar.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    openconf.cfg
# @author  Pranav Sawargaonkar (pranav.sawargaonkar@gmail.com)
# @brief   Board config file for Beagle Board
#*/

config CONFIG_BOARD
	string
	default "beagle"

config CONFIG_OMAP3
	bool
	select CONFIG_DTC
	select CONFIG_CPATCH
	select CONFIG_BBFLASH
	select CONFIG_LIBFDT
	select CONFIG_SERIAL
	select CONFIG_SERIAL_OMAP_UART
	default y

config CONFIG_EMU_REALVIEW
	bool
	select CONFIG_EMU_SYS
	select CONFIG_EMU_SYS_REALVIEW
	select CONFIG_EMU_SYS_SP810
	select CONFIG_EMU_PIC
	select CONFIG_EMU_PIC_GIC
	select CONFIG_EMU_TIMER
	select CONFIG_EMU_TIMER_SP804
	select CONFIG_EMU_SERIAL
	select CONFIG_EMU_SERIAL_PL011
	select CONFIG_EMU_RTC
	select CONFIG_EMU_RTC_PL031
	default y

menu "Beagleboard Options"

choice
	prompt "Clocksource Timer"
	default CONFIG_OMAP3_CLKSRC_S32KT
	help
		Select which timer to use for clocksource generation

	config CONFIG_OMAP3_CLKSRC_S32KT
		bool "Synchronous 32K timer"

	config CONFIG_OMAP3_CLKSRC_GPT
		bool "GPT2"
endchoice

choice
	prompt "DTS Configuration"
	default CONFIG_OMAP3_ONE_GUEST_PBA8_DTS
	help
		Select DTS configuration to use

	config CONFIG_OMAP3_ONE_GUEST_PBA8_DTS
		bool "1x pb-a8 guest"
		help
		 This option enables DTS for one PB-A8 Guest

	config CONFIG_OMAP3_TWO_GUEST_PBA8_DTS
		bool "2x pb-a8 guest"
		help
		 This option enables DTS for two PB-A8 Guests
endchoice

endmenu

