#/**
# Copyright (c) 2011 Pranav Sawargaonkar.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    openconf.cfg
# @author  Pranav Sawargaonkar (pranav.sawargaonkar@gmail.com)
# @brief   Board config file for Beagle Board
#*/

menu "Beagleboard Options"

choice
	prompt "Clocksource Timer"
	default CONFIG_OMAP3_CLKSRC_S32KT
	help
		Select which timer to use for clocksource generation

	config CONFIG_OMAP3_CLKSRC_S32KT
		bool "Synchronous 32K timer"

	config CONFIG_OMAP3_CLKSRC_GPT
		bool "GPT2"
endchoice

choice
	prompt "DTS Configuration"
	default CONFIG_OMAP3_ONE_GUEST_PBA8_DTS
	help
		Select DTS configuration to use

	config CONFIG_OMAP3_ONE_GUEST_PBA8_DTS
		bool "1x pb-a8 guest"
		help
		 This option enables DTS for one PB-A8 Guest

	config CONFIG_OMAP3_ONE_GUEST_VEX_A9_DTS
		bool "1x vexpress-a9 guest"
		help
		 This option enables DTS for one VExpress-A9 Guest

	config CONFIG_OMAP3_TWO_GUEST_PBA8_DTS
		bool "2x pb-a8 guest"
		help
		 This option enables DTS for two PB-A8 Guests
endchoice

endmenu

