
/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "arm,versatile";
	model = "versatilepb";

	chosen { };
	aliases { };

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0 {
			device_type = "cpu";
			model = "ARM926ej";
			reg = <0>;
		};
	};

	memory { 
		device_type = "memory"; 
		reg = <0x00000000 0x10000000>; /* 256 MB */
	};

	motherboard {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";

		eth0 {
			device_type = "nic";
			compatible = "smc91x";
			reg = <0x10010000 0x1000>;
			interrupts = <25>;
			switch = "br0";
		};

		amba {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "arm,amba-bus";

			sysreg { /* System Registers */
		      		device_type = "sys";
		      		compatible = "arm,versatile-sysreg";
		      		reg = <0x10000000 0x1000>;
			};

			sic { /* Secondary Interrupt Controller */
				device_type = "pic";
				compatible = "arm,versatile-sic";
				reg = <0x10003000 0x1000>;
				interrupts = <31>; /* Cascaded to vic */
			};

			vic { /* Vectored Interrupt Controller */
				device_type = "pic";
				compatible = "arm,versatile-vic";
				reg = <0x10140000 0x1000>;
			};

			sysctl: sysctl0 { /* System Controller */
		      		device_type = "sys";
		      		compatible = "arm,sp810";
		      		reg = <0x101E0000 0x1000>;
				clocks = <&refclk32khz>, <&refclk1mhz>;
				clock-names = "refclk", "timclk", "apb_pclk";
				#clock-cells = <1>;
				clock-output-names = "timerclken0", "timerclken1", "timerclken2", "timerclken3";
			};

			timer01 {
		      		device_type = "timer";
		      		compatible = "arm,sp804";
		      		reg = <0x101E2000 0x1000>;
				interrupts = <4>;
				clocks = <&sysctl 0>, <&sysctl 1>;
				clock-names = "timclken1", "timclken2";
			};

			timer23 {
		      		device_type = "timer";
		      		compatible = "arm,sp804";
		      		reg = <0x101E3000 0x1000>;
				interrupts = <5>;
				clocks = <&sysctl 2>, <&sysctl 3>;
				clock-names = "timclken1", "timclken2";
			};

			SERIAL0: uart0 {
		      		compatible = "arm,pl011";
		      		reg = <0x101F1000 0x1000>;
				clock-frequency = <24000000>;
				interrupts = <12>;
			};

			RTC0: rtc0 {
				device_type = "rtc";
				compatible = "arm,pl031";
				reg = <0x101E8000 0x1000>;
				clock-frequency = <1>;
				interrupts = <10>;
			};
		};
	};

	refclk1mhz: refclk1mhz {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <1000000>;
		clock-output-names = "refclk1mhz";
	};

	refclk32khz: refclk32khz {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "refclk32khz";
	};

	vmm {
		net {
			br0 {
				device_type = "netswitch";
				compatible = "bridge";
			};
		};
	};
};

/* Add guest templates */
/include/ "../../../../common/guests/versatilepb.dtsi"

