#/**
# Copyright (c) 2011 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    openconf.cfg
# @version 1.0
# @author  Anup Patel (anup@brainfault.org)
# @brief   CPU config file for ARM
#*/

choice
	prompt "Target Processor"
	default CONFIG_CPU_CORTEX_A8
	help
		Select the ARM Processor

	config CONFIG_CPU_CORTEX_A8
		bool "cortex-a8"
		help
		 Select this if the SOC is based on Cortex-A8

	config CONFIG_CPU_OMAP3
		bool "omap3"
		help
		 Select this if your SOC is OMAP3
endchoice

if CONFIG_CPU_CORTEX_A8 || CONFIG_CPU_OMAP3

source "arch/arm/cpu/arm7a/openconf.cfg"

endif

