
/ {
	vmm {
		net {
			netbridge0 {
				device_type = "netswitch";
				compatible = "bridge";
			};
		};
	};

	host {
		model = "versatilepb";
		device_type = "host";
		
		cpus {
			cpu0 {
				device_type = "cpu";
				model = "ARM926ej";
			};
		};

		memory {
			physical_addr = <0x00000000>;
			physical_size = <0x10000000>; /* 256 MB */
		};

		nbridge {
			sbridge {
				#address-cells = <1>;
				#size-cells = <1>;

				SERIAL0: uart0 {
			      		device_type = "serial";
			      		compatible = "arm,pl011";
			      		reg = <0x101F1000 0x1000>;
			      		baudrate = <115200>;
					irq = <12>;
				};

				RTC0: rtc0 {
					device_type = "rtc";
					compatible = "arm,pl031";
					reg = <0x101E8000 0x1000>;
					clock-rate = <1>;
					irq = <10>;
				};

				eth0 {
					device_type = "nic";
					compatible = "smc91x";
					reg = <0x10010000 0x1000>;
					irq = <25>;
					switch = "netbridge0";
				};
			};
		};
	};
};
