#/**
# Copyright (c) 2014 Himanshu Chauhan
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Himanshu Chauhan
# */

menu "Generic Configuration"

config CONFIG_OF
	def_bool y

config CONFIG_GENERIC_IO
	bool "Generic IO Operations"
	default y
	help
		Provide generic IO operations like ioread8 etc.

config CONFIG_HAS_IOPORT_MAP
	bool "Support IOPort Map"
	default y
	depends on CONFIG_GENERIC_IO
	help
		Provide support for I/O Port mapping cookies.

endmenu
