#/**
# Copyright (c) 2018 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    openconf.cfg
# @author  Anup Patel (anup@brainfault.org)
# @brief   Board config file for RISC-V boards
#*/

choice
	prompt "Target Board"
	default CONFIG_RISCV_BOARD_GENERIC
	help
		Select the target RISC-V Processor

	config CONFIG_RISCV_BOARD_GENERIC
		bool "generic"
		select CONFIG_CLKDEV_LOOKUP
		select CONFIG_COMMON_CLK
		select CONFIG_RISCV_SMP_OPS if CONFIG_SMP
		select CONFIG_RISCV_SMP_IPI if CONFIG_SMP
		select CONFIG_RISCV_SMP_SBI if CONFIG_SMP
		help
		 Select this if you are using Generic RISC-V Board
endchoice

if CONFIG_RISCV_BOARD_GENERIC

config CONFIG_BOARD
	string
	default "generic"

endif

menu "RISC-V Board Options"

source "arch/riscv/board/common/openconf.cfg"

endmenu
