#/**
# Copyright (c) 2010 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @version 1.0
# @author Anup Patel (anup@brainfault.org)
# @brief config file for command options
# */

menu "Command Options"

config CONFIG_CMD_VERSION
	bool "version"
	default y
	help
		Enable/Disable version command.

config CONFIG_CMD_RESET
	bool "reset"
	default y
	help
		Enable/Disable reset command.

config CONFIG_CMD_SHUTDOWN
	bool "shutdown"
	default y
	help
		Enable/Disable shutdown command.

config CONFIG_CMD_VAPOOL
	bool "vapool"
	default y
	help
		Enable/Disable vapool command.

config CONFIG_CMD_RAM
	bool "ram"
	default y
	help
		Enable/Disable ram command.

config CONFIG_CMD_DEVTREE
	bool "devtree"
	default y
	help
		Enable/Disable devtree command.

config CONFIG_CMD_VCPU
	bool "vcpu"
	default y
	help
		Enable/Disable vcpu command.

config CONFIG_CMD_GUEST
	bool "guest"
	default y
	help
		Enable/Disable guest command.

config CONFIG_CMD_MEMORY
	bool "memory"
	default y
	help
		Enable/Disable memory command.

config CONFIG_CMD_THREAD
	bool "thread"
	default y
	help
		Enable/Disable thread command.

config CONFIG_CMD_CHARDEV
	bool "chardev"
	default y
	help
		Enable/Disable chardev command.

config CONFIG_CMD_VSERIAL
	bool "vserial"
	default y
	help
		Enable/Disable vserial command.

config CONFIG_CMD_STDIO
	bool "stdio"
	default y
	help
		Enable/Disable stdio command.

config CONFIG_CMD_BUDDY
	bool "buddy"
	depends on CONFIG_HEAP_BUDDY
	default y
	help
		Enable/Disable buddy command.

config CONFIG_CMD_BLOCKDEV
	bool "blockdev"
	depends on CONFIG_BLOCK
	default y
	help
		Enable/Disable blockdev command.

config CONFIG_CMD_PING
	bool "ping"
	depends on CONFIG_NET
	default y
	help
		Enable/Disable ping command.

config CONFIG_CMD_PROFILE
	bool "profile"
	depends on CONFIG_PROFILE
	default y
	help
		Enable/Disable ping command.

config CONFIG_CMD_THREADTEST
	bool "threadtest"
	default n
	help
		Enable/Disable thread test command.

endmenu

