#/**
# Copyright (c) 2010 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Anup Patel (anup@brainfault.org)
# @brief config file for command options
# */

menu "Command Options"

comment "General Commands"

config CONFIG_CMD_VERSION
	tristate "version"
	default y
	help
		Enable/Disable version command.

config CONFIG_CMD_SLEEP
	tristate "sleep"
	default y
	help
		Enable/Disable sleep command.

config CONFIG_CMD_ECHO
	tristate "echo"
	default y
	help
		Enable/Disable echo command.

config CONFIG_CMD_RESET
	tristate "reset"
	default y
	help
		Enable/Disable reset command.

config CONFIG_CMD_SHUTDOWN
	tristate "shutdown"
	default y
	help
		Enable/Disable shutdown command.

config CONFIG_CMD_HOST
	tristate "host"
	default y
	help
		Enable/Disable host command.

config CONFIG_CMD_DEVTREE
	tristate "devtree"
	default y
	help
		Enable/Disable devtree command.

config CONFIG_CMD_VCPU
	tristate "vcpu"
	default y
	help
		Enable/Disable vcpu command.

config CONFIG_CMD_GUEST
	tristate "guest"
	default y
	help
		Enable/Disable guest command.

config CONFIG_CMD_MEMORY
	tristate "memory"
	default y
	help
		Enable/Disable memory command.

config CONFIG_CMD_THREAD
	tristate "thread"
	default y
	help
		Enable/Disable thread command.

config CONFIG_CMD_CHARDEV
	tristate "chardev"
	default y
	help
		Enable/Disable chardev command.

config CONFIG_CMD_STDIO
	tristate "stdio"
	default y
	help
		Enable/Disable stdio command.

config CONFIG_CMD_HEAP
	tristate "heap"
	default y
	help
		Enable/Disable heap command.

config CONFIG_CMD_WALLCLOCK
	tristate "wallclock"
	default y
	help
		Enable/Disable wallclock command.

config CONFIG_CMD_MODULE
	tristate "module"
	default y
	help
		Enable/Disable module command.

config CONFIG_CMD_PROFILE
	tristate "profile"
	depends on CONFIG_PROFILE
	default y
	help
		Enable/Disable profile command.

comment "Virtual I/O Commands"

config CONFIG_CMD_VSERIAL
	tristate "vserial"
	depends on CONFIG_VSERIAL
	default y
	help
		Enable/Disable vserial command.

config CONFIG_CMD_VDISK
	tristate "vdisk"
	depends on CONFIG_VDISK
	default y
	help
		Enable/Disable vdisk command.

config CONFIG_CMD_VDISPLAY
	tristate "vdisplay"
	depends on CONFIG_VDISPLAY
	default y
	help
		Enable/Disable vdisplay command.

config CONFIG_CMD_VINPUT
	tristate "vinput"
	depends on CONFIG_VINPUT
	default y
	help
		Enable/Disable vinput command.

config CONFIG_CMD_VSCREEN
	tristate "vscreen"
	depends on CONFIG_VSCREEN
	default y
	help
		Enable/Disable vscreen command.

config CONFIG_CMD_VSDAEMON
	tristate "vsdaemon"
	depends on CONFIG_VSDAEMON
	default y
	help
		Enable/Disable vsdaemon command.

comment "Device Driver Commands"

config CONFIG_CMD_RTCDEV
	tristate "rtcdev"
	depends on CONFIG_RTC
	default y
	help
		Enable/Disable rtcdev command.

config CONFIG_CMD_INPUT
	tristate "input"
	depends on CONFIG_INPUT
	default y
	help
		Enable/Disable input command.

config CONFIG_CMD_FB
	tristate "fb"
	depends on CONFIG_FB
	default y
	help
		Enable/Disable fb command.

config CONFIG_CMD_FB_BACKLIGHT
	tristate "backlight"
	depends on CONFIG_FB_BACKLIGHT
	default y
	help
		Enable/Disable backlight commands.

config CONFIG_CMD_BLOCKDEV
	tristate "blockdev"
	depends on CONFIG_BLOCK
	default y
	help
		Enable/Disable blockdev command.

config CONFIG_CMD_RBD
	tristate "rbd"
	depends on CONFIG_BLOCK_RBD
	default y
	help
		Enable/Disable rbd command.

config CONFIG_CMD_FLASH
	tristate "flash"
	depends on CONFIG_MTD
	default y
	help
		Enable/Disable flash command.

config CONFIG_CMD_I2C
	tristate "i2c"
	depends on CONFIG_I2C
	default y
	help
		Enable/Disable i2c command.

comment "Networking Commands"

config CONFIG_CMD_NET
	tristate "net"
	depends on CONFIG_NET
	default y
	help
		Enable/Disable network command.

config CONFIG_CMD_IPCONFIG
	tristate "ipconfig"
	depends on CONFIG_NET_STACK
	default y
	help
		Enable/Disable ipconfig command.

config CONFIG_CMD_PING
	tristate "ping"
	depends on CONFIG_NET_STACK
	default y
	help
		Enable/Disable ping command.

config CONFIG_CMD_MII
	tristate "mii"
	depends on CONFIG_PHYLIB
	default y
	help
		Enable/Disable the mii command.

comment "Filesystem Commands"

config CONFIG_CMD_VFS
	tristate "vfs"
	depends on CONFIG_VFS
	default y
	help
		Enable/Disable vfs command.

comment "Library Commands"

config CONFIG_CMD_WBOXTEST
	tristate "wboxtest"
	depends on CONFIG_WBOXTEST
	default y
	help
		Enable/Disable wboxtest command.

endmenu

