#/**
# Copyright (c) 2018 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    openconf.cfg
# @author  Anup Patel (anup@brainfault.org)
# @brief   Board commons config file for RISC-V
#*/

config CONFIG_RISCV_DEFTERM_EARLY_PRINT
	bool "Early defterm prints"
	default n

choice
	prompt "Early defterm device"
	depends on CONFIG_RISCV_DEFTERM_EARLY_PRINT
	default CONFIG_RISCV_DEFTERM_EARLY_UNKNOWN
	help
		Select type of device for defterm early prints

	config CONFIG_RISCV_DEFTERM_EARLY_UNKNOWN
		bool "unknown"
		help
			Unknown early print device

	config CONFIG_RISCV_DEFTERM_EARLY_SBI
		bool "sbi"
		help
			SBI based early prints

	config CONFIG_RISCV_DEFTERM_EARLY_UART8250_8BIT
		bool "uart8250-8bit"
		help
			UART 8250 (8-bit 1-byte aligned registers) based early prints

	config CONFIG_RISCV_DEFTERM_EARLY_UART8250_8BIT_4ALIGN
		bool "uart8250-8bit-4align"
		help
			UART 8250 (8-bit 4-byte aligned registers) based early prints

	config CONFIG_RISCV_DEFTERM_EARLY_UART8250_32BIT
		bool "uart8250-32bit"
		help
			UART 8250 (32-bit 4-byte aligned registers) based early prints
endchoice

config CONFIG_RISCV_DEFTERM_EARLY_BASE_PA
	hex "Early defterm device physical address"
	depends on CONFIG_RISCV_DEFTERM_EARLY_PRINT
	default 0x00000000

config CONFIG_RISCV_SMP_OPS
	bool "Common SMP operations"
	depends on CONFIG_SMP
	default n

config CONFIG_RISCV_SMP_IPI
	bool "Common SMP IPIs"
	depends on CONFIG_SMP
	default n
