
/dts-v1/;

/include/ "vexpress-a15.dtsi"

/include/ "../../../common/guests/one_guest_vexpress-a15x2.dtsi"

/ {
	choosen {
		console = &SERIAL0;
		rtcdev = &RTC0;
	};

	guests {
		guest0 {
			aspace {
				mem0 {
					host_physical_addr = <0x82000000>;
					physical_size = <0x06000000>; /* 96 MB */
				};

				nor_flash0 {
					host_physical_addr = <0x81000000>;
					physical_size = <0x01000000>; /* 16 MB */
				};

				eth {
					switch = "netbridge0";
				};
			};
		};
	};
};
