
/ {
	vmm {
		net {
			netbridge0 {
				device_type = "netswitch";
				compatible = "bridge";
			};
		};
	};

	host {
		model = "vexpress-a15";
		device_type = "host";
		
		cpus {
			cpu0 {
				device_type = "cpu";
				model = "Cortex-A15";
			};
		};

		memory {
			/* NOTE: By default QEMU will only proivde 128 MB 
			 * unless specified by "-m" option. If you have
			 * X MB then we will be able to access only first
			 * X MB starting at physical_addr.
			 */
			physical_addr = <0x80000000>;
			physical_size = <0x10000000>; /* 256 MB */
		};

		nbridge {
			sbridge {
				#address-cells = <1>;
				#size-cells = <1>;

				kmi0 { /* Keyboard */
			      		device_type = "serio";
			      		compatible = "ambakmi";
			      		reg = <0x1C060000 0x1000>;
					clock-rate = <24000000>;
					irq = <44>;
				};

				kmi1 { /* Mouse */
			      		device_type = "serio";
			      		compatible = "ambakmi";
			      		reg = <0x1C070000 0x1000>;
					clock-rate = <24000000>;
					irq = <45>;
				};

				uart0 {
			      		device_type = "serial";
			      		compatible = "pl011";
			      		reg = <0x1C090000 0x1000>;
					clock-rate = <24000000>;
			      		baudrate = <115200>;
					irq = <37>;
				};

				rtc0 {
			      		device_type = "rtc";
			      		compatible = "pl031";
			      		reg = <0x1C170000 0x1000>;
					clock-rate = <1>;
					irq = <36>;
				};

				clcd {
			      		device_type = "fb";
			      		compatible = "ambaclcd";
			      		reg = <0x1C1F0000 0x1000>;
				};
			};
		};
	};
};
