#/**
# Copyright (c) 2012 Sukanto Ghosh.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Sukanto Ghosh (sukantoghosh@gmail.com)
# @brief config file for daemon options
# */

menu "Daemon Options"

config CONFIG_MTERM
	tristate "Managment terminal daemon"
	default y

config CONFIG_MTERM_CMD_WIDTH
	int "Maximum commmand width on mterm"
	depends on CONFIG_MTERM
	default 256

config CONFIG_MTERM_HISTORY
	bool "Enable history support for mterm"
	depends on CONFIG_MTERM
	default y

config CONFIG_MTERM_HISTORY_SIZE
	int "Mterm history size"
	depends on CONFIG_MTERM_HISTORY
	default 10

endmenu
