#/**
# Copyright (c) 2012 Jean-Christophe Dubois.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    openconf.cfg
# @author  Jean-Christophe Dubois (jcd@tribudubois.net)
# @brief   Board config file for Exynos boards
#*/

choice
	bool
	prompt "Exynos4 Target Board"
	help
		Select a target boards from available boards

if CONFIG_BOARD_EXYNOS4
	config CONFIG_BOARD_SMDKC210
		bool "smdkc210"
		help
			Samsung Exynos4210 based devboard Support

	config CONFIG_BOARD_NURI
		bool "nuri"
		help
			Samsung Exynos4210 based devboard Support
endif

endchoice

if CONFIG_BOARD_SMDKC210
source "arch/arm/board/exynos4/dts/smdkc210/openconf.cfg"
endif

if CONFIG_BOARD_NURI
source "arch/arm/board/exynos4/dts/nuri/openconf.cfg"
endif
