#/**
# Copyright (c) 2013 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Anup Patel (anup@brainfault.org)
# @brief config file for virtual IO support.
# */

config CONFIG_VSERIAL
	tristate "Virtual Serial Port Framework"
	default n
	help
	  Select this if you want virtual serial port support for Xvisor.

config CONFIG_VDISK
	tristate "Virtual Disk Framework"
	default n
	depends on CONFIG_BLOCK
	help
	  Select this if you want virtual disk support for Xvisor.

config CONFIG_VDISPLAY
	tristate "Virtual Display Framework"
	default n
	help
	  Select this if you want virtual display support for Xvisor.

config CONFIG_VINPUT
	tristate "Virtual Input Framework"
	default n
	help
	  Select this if you want virtual input (i.e. virtual keyboard
	  and virtual mouse) support for Xvisor.

config CONFIG_VINPUT_KEYMAP_AR
	bool "AR Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want AR keyboard map.

config CONFIG_VINPUT_KEYMAP_BEPO
	bool "BEPO Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want BEPO keyboard map.

config CONFIG_VINPUT_KEYMAP_CZ
	bool "CZ Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want CZ keyboard map.

config CONFIG_VINPUT_KEYMAP_DA
	bool "DA Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want DA keyboard map.

config CONFIG_VINPUT_KEYMAP_DE_CH
	bool "DE-CH Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want DE-CH keyboard map.

config CONFIG_VINPUT_KEYMAP_DE
	bool "DE Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want DE keyboard map.

config CONFIG_VINPUT_KEYMAP_EN_GB
	bool "EN-GB Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want EN-GB keyboard map.

config CONFIG_VINPUT_KEYMAP_EN_US
	bool "EN-US Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want EN-US keyboard map.

config CONFIG_VINPUT_KEYMAP_ES
	bool "ES Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want ES keyboard map.

config CONFIG_VINPUT_KEYMAP_ET
	bool "ET Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want ET keyboard map.

config CONFIG_VINPUT_KEYMAP_FI
	bool "FI Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want FI keyboard map.

config CONFIG_VINPUT_KEYMAP_FO
	bool "FO Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want FO keyboard map.

config CONFIG_VINPUT_KEYMAP_FR_BE
	bool "FR-BE Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want FR-BE keyboard map.

config CONFIG_VINPUT_KEYMAP_FR_CA
	bool "FR-CA Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want FR-CA keyboard map.

config CONFIG_VINPUT_KEYMAP_FR_CH
	bool "FR-CH Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want FR-CH keyboard map.

config CONFIG_VINPUT_KEYMAP_FR
	bool "FR Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want FR keyboard map.

config CONFIG_VINPUT_KEYMAP_HR
	bool "HR Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want HR keyboard map.

config CONFIG_VINPUT_KEYMAP_HU
	bool "HU Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want HU keyboard map.

config CONFIG_VINPUT_KEYMAP_IS
	bool "IS Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want IS keyboard map.

config CONFIG_VINPUT_KEYMAP_IT
	bool "IT Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want IT keyboard map.

config CONFIG_VINPUT_KEYMAP_JA
	bool "JA Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want JA keyboard map.

config CONFIG_VINPUT_KEYMAP_LT
	bool "LT Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want LT keyboard map.

config CONFIG_VINPUT_KEYMAP_LV
	bool "LV Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want LV keyboard map.

config CONFIG_VINPUT_KEYMAP_MK
	bool "MK Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want MK keyboard map.

config CONFIG_VINPUT_KEYMAP_NL_BE
	bool "NL-BE Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want NL-BE keyboard map.

config CONFIG_VINPUT_KEYMAP_NL
	bool "NL Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want NL keyboard map.

config CONFIG_VINPUT_KEYMAP_NO
	bool "NO Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want NO keyboard map.

config CONFIG_VINPUT_KEYMAP_PL
	bool "PL Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want PL keyboard map.

config CONFIG_VINPUT_KEYMAP_PT_BR
	bool "PT-BR Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want PT-BR keyboard map.

config CONFIG_VINPUT_KEYMAP_PT
	bool "PT Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want PT keyboard map.

config CONFIG_VINPUT_KEYMAP_RU
	bool "RU Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want RU keyboard map.

config CONFIG_VINPUT_KEYMAP_SL
	bool "SL Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want SL keyboard map.

config CONFIG_VINPUT_KEYMAP_SV
	bool "SV Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want SV keyboard map.

config CONFIG_VINPUT_KEYMAP_TH
	bool "TH Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want TH keyboard map.

config CONFIG_VINPUT_KEYMAP_TR
	bool "TR Keymap"
	depends on CONFIG_VINPUT
	default y
	help
	  Select this if you want TR keyboard map.

