#/**
# Copyright (c) 2017 Ashutosh Sharma.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Ashutosh Sharma (ashutosh.sharma.0204@gmail.com)
# @brief config file for USB network device drivers.
# */

#
# USB Network Device Drivers
#

menuconfig CONFIG_USB_NET_DRIVERS
        tristate "USB network driver support"
        default n
        depends on CONFIG_USB && CONFIG_NET_DEVICES
        help
                Select USB network drivers.

if CONFIG_USB_NET_DRIVERS

config CONFIG_USB_SMSC95xx
	tristate "SMSC95xx driver"
	default n
	help
		USB SMSC95xx network device driver.

endif
