/*
 * Copyright (C) 2014 Institut de Recherche Technologique SystemX and OpenWide.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2, or (at your option)
 * any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
 *
 * @file sabrelite.dtsi
 * @author Jimmy Durand Wesolowski (jimmy.durand-wesolowski@openwide.fr)
 * @brief Sabrelite-specific device tree definitions.
 */

#include "../imx6q.dtsi"

/ {
	#address-cells = <0x1>;
	#size-cells = <0x1>;
	model = "Freescale i.MX6 Quad SABRE Lite Board";
	compatible = "fsl,imx6q-sabrelite", "fsl,imx6q";

	memory {
		device_type = "memory";
		reg = <0x10000000 0x40000000>; /* 1 GB */
	};
};

&ecspi1 {
	#address-cells = <1>;
	#size-cells = <0>;

	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio3 19 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1_1>;
	status = "okay";

	flash: m25p80@0 {
		compatible = "sst25vf016b";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3_2>;
	cd-gpios = <&gpio7 0 0>;
	wp-gpios = <&gpio7 1 0>;
	/* vmmc-supply = <&reg_3p3v>; */
	status = "okay";
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	status = "okay";
};

&ldb {
	ipu_id = <0>;
	disp_id = <0>;
	ext_ref = <1>;
	mode = "sin0";
	sec_ipu_id = <1>;
	sec_disp_id = <1>;
	status = "okay";
};

&hdmi_core {
	status = "okay";
	ipu_id = <1>;
	disp_id = <0>;
};

&hdmi_video {
	status = "okay";
	fsl,phy_reg_vlev = <0x0294>;
	fsl,phy_reg_cksymtx = <0x800d>;
};

&mxcfb1 {
	status = "okay";
	interface_pix_fmt = "RGB666";
	default_bpp = <16>;
	mode_str = "LDB-XGA";
};

&mxcfb2 {
	status = "okay";
	interface_pix_fmt = "RGB24";
	default_bpp = <16>;
	mode_str = "";
};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1_1>;
};

&i2c2 {
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2_2>;
	hdmi: edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};
};

&i2c3 {
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3_3>;

	touchscreen: egalax_ts@4 {
		compatible = "eeti,egalax_ts";
		reg = <0x04>;
		interrupt-parent = <&gpio1>;
		interrupts = <9 2>;
		wakeup-gpios = <&gpio1 9 0>;
	};
};

&fec {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet_4>;
	phy-mode = "rgmii";
	phy-reset-gpios = <&gpio1 27 0>;
	txen-skew-ps = <0>;
	txc-skew-ps = <3000>;
	rxdv-skew-ps = <0>;
	rxc-skew-ps = <3000>;
	rxd0-skew-ps = <0>;
	rxd1-skew-ps = <0>;
	rxd2-skew-ps = <0>;
	rxd3-skew-ps = <0>;
	txd0-skew-ps = <0>;
	txd1-skew-ps = <0>;
	txd2-skew-ps = <0>;
	txd3-skew-ps = <0>;
	#address-cells = <0>;
	#size-cells = <1>;
	phy_int {
		reg = <0x6>;
		interrupt-parent = <&gpio1>;
		interrupts = <28 /* IRQ_TYPE_LEVEL_LOW */>;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;

	imx6q-nitrogen6x {
		pinctrl_hog_1: hoggrp-1 {
			fsl,pins = <
                                /* Power Button */
                                MX6QDL_PAD_NANDF_D3__GPIO2_IO03         0x1b0b0
                                /* Menu Button */
                                MX6QDL_PAD_NANDF_D1__GPIO2_IO01         0x1b0b0
                                /* Home Button */
                                MX6QDL_PAD_NANDF_D4__GPIO2_IO04         0x1b0b0
                                /* Back Button */
                                MX6QDL_PAD_NANDF_D2__GPIO2_IO02         0x1b0b0
                                /* Volume Up Button */
                                MX6QDL_PAD_GPIO_18__GPIO7_IO13          0x1b0b0
                                /* Volume Down Button */
                                MX6QDL_PAD_GPIO_19__GPIO4_IO05          0x1b0b0
                                MX6QDL_PAD_EIM_D19__GPIO3_IO19          0x80000000      /* spi-nor CS */
                                MX6QDL_PAD_EIM_D22__GPIO3_IO22          0x80000000      /* otg power en */
                                MX6QDL_PAD_ENET_RXD0__GPIO1_IO27        0x0f0b0         /* ethernet phy reset */
                                MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28       0x1b0b0         /* ethernet phy interrupt */
                                MX6QDL_PAD_SD3_DAT5__GPIO7_IO00         0x80000000      /* USDHC3 CD */
                                MX6QDL_PAD_SD3_DAT4__GPIO7_IO01         0x1f0b0         /* Spare */
                                MX6QDL_PAD_NANDF_D6__GPIO2_IO06         0x80000000      /* uSDHC4 CD */
                                MX6QDL_PAD_NANDF_D7__GPIO2_IO07         0x80000000      /* Spare */
                                MX6QDL_PAD_GPIO_0__CCM_CLKO1            0x000b0         /* SGTL5000 sys_mclk */
                                MX6QDL_PAD_GPIO_2__GPIO1_IO02           0x80000000      /* CAN standby */
                                MX6QDL_PAD_GPIO_4__GPIO1_IO04           0x80000000      /* Spare */
                                MX6QDL_PAD_GPIO_9__GPIO1_IO09           0x80000000      /* I2C3 touch screen interrupt */
                                MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09       0x0b0b0         /* ov5640 mipi powerdown */
                                MX6QDL_PAD_NANDF_D5__GPIO2_IO05         0x000b0         /* ov5640 mipi reset */
                                MX6QDL_PAD_GPIO_3__CCM_CLKO2            0x000b0         /* ov5642 mclk */
                                MX6QDL_PAD_GPIO_6__GPIO1_IO06           0x000b0         /* ov5642 Power Down */
                                MX6QDL_PAD_GPIO_8__GPIO1_IO08           0x000b0         /* ov5642 Reset */
                                MX6QDL_PAD_GPIO_17__GPIO7_IO12          0x0b0b0         /* USB Hub Reset */
                                MX6QDL_PAD_NANDF_CS1__GPIO6_IO14        0x100b0         /* wl12xx_wl_irq */
                                MX6QDL_PAD_NANDF_CS3__GPIO6_IO16        0x000b0         /* wl12xx_bt_en */
                                /*MX6QDL_PAD_SD1_CLK__OSC32K_32K_OUT      0x000b0*/         /* TiWi slow clock */
                                MX6QDL_PAD_NANDF_CLE__GPIO6_IO07        0x1b0b0         /* ISL1208 interrupt */

			>;
		};
	};

};
