#/**
# Copyright (C) 2014 Institut de Recherche Technologique SystemX and OpenWide.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Jimmy Durand Wesolowski (jimmy.durand-wesolowski@openwide.fr)
# @author Anup Patel (anup@brainfault.org)
# @brief config file for the MTD devices supported by xvisor.
# */

menu "Self-contained MTD device drivers"
        depends on CONFIG_MTD!=n

config CONFIG_MTD_M25P80
        tristate "Support most SPI Flash chips (AT26DF, M25P, W25X, ...)"
        depends on CONFIG_SPI_MASTER
        help
          This enables access to most modern SPI flash chips, used for
          program and data storage.   Series supported include Atmel AT26DF,
          Spansion S25SL, SST 25VF, ST M25P, and Winbond W25X.  Other chips
          are supported as well.  See the driver source for the current list,
          or to add other chips.

          Note that the original DataFlash chips (AT45 series, not AT26DF),
          need an entirely different driver.

          Set up your spi devices with the right board-specific platform data,
          if you want to specify device partitioning or to use a device which
          doesn't support the JEDEC ID instruction.

config CONFIG_MTD_M25P80_BLOCKDEV
	bool
	depends on CONFIG_MTD_M25P80 && CONFIG_BLOCK
	default y

endmenu # Self contained MTD devices
