
/include/ "../sun4i-a10.dtsi"

/ {
        model = "Cubietech Cubieboard";
        compatible = "cubietech,a10-cubieboard", "allwinner,sun4i-a10";

        aliases {
                serial0 = &uart0;
                serial1 = &uart1;
        };

        chosen {
                bootargs = "earlyprintk console=ttyS0,115200";
        };

};
