#/**
# Copyright (c) 2012 Himanshu Chauhan.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file features.cfg
# @version 1.0
# @author Himanshu Chauhan (hschauhan@nulltrace.org)
# @brief config file for x86_64 processor features
# */

choice
	prompt "Interrupt Controller"
	default CONFIG_LOCAL_APIC
	help
		The programmable interrupt controller for the CPU.
		Most modern CPUs P6 family, P4 and Xeon have an APIC
		(Advanced Programmable Interrupt Controller). Some
		motherboards also have 8259A.

	config CONFIG_LOCAL_APIC
		bool "Local APIC"
		help
			Enable Local APIC Support

	config CONFIG_8259A
		bool "8259A PIC"
		help
			The old style 8259A interrupt controller.

endchoice

config CONFIG_VEXT
	bool "Enable Virtualization Extensions"
	default y
	help
		Compile the support for virtualizaiton extensions.

if CONFIG_VEXT
	config CONFIG_VEXT_AMD_SVM
		bool "AMD-SVM"
		help
			Enable support for AMD's virutalization extensions
			code named pacifica, popularly called as SVM or
			Secure Virtual Machine.

	config CONFIG_VEXT_INTEL_VTX
		bool "Intel VT-x"
		help
			Enable support for Intel's VT-x virtualization
			extension.
endif
