#/**
# Copyright (c) 2013 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Anup Patel (anup@brainfault.org)
# @brief config file for block device emulators.
# */

menu "Block Device Emulators"

config CONFIG_EMU_BLOCK
	tristate "Enable Block Device Emulators"
	default n
	help
		Enable/Disable Block Device Emulators.

config CONFIG_EMU_BLOCK_VIRTIO
	tristate "VirtIO Block Emulator"
	depends on CONFIG_EMU_BLOCK
	depends on CONFIG_EMU_VIRTIO
	depends on CONFIG_BLOCK
	default n
	help
		Enable/Disable VirtIO Block Emulator.

endmenu

