#/**
# Copyright (c) 2014 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Anup Patel (anup@brainfault.org)
# @brief config file for interrupt contoller drivers.
# */

menu "Interrupt Controller Drivers"

config CONFIG_ARM_VIC
        bool "ARM Vectored Interrupt Controller"
        default n
	help
		ARM PL190 Vectored Interrupt Controller driver.

config CONFIG_ARM_GIC
	bool "ARM Generic Interrupt Controller"
	default n
	help
		ARM Generic Interrupt Controller (GICv1 and GICv2) driver.

config CONFIG_VERSATILE_FPGA_IRQ
        bool "ARM Versatile FPGA-based Interrupt controllers"
        default n
	help
		ARM Veratile FPGA-based Interrupt Controller driver.

config CONFIG_MXC_AVIC
	bool "Freescale IMX Advanced Vectored Interrupt Controller"
	default n
	help
		Freescale IMX Advanced Vectored Interrupt Controller (AVIC) driver.

config CONFIG_BCM2835_INTC
	bool "Broadcom BCM2835/BCM2836 Interrupt Controller"
	default n
	help
		Broadcom BCM2835/BCM2836 SOC Interrupt Controller (INTC) driver.

config CONFIG_BCM2836_LOCAL_INTC
	bool "Broadcom BCM2836 LOCAL Interrupt Controller"
	default n
	help
		Broadcom BCM2836 Local Interrupt Controller (Local INTC) driver.

config CONFIG_SUN4I_VIC
	bool "Allwinner Sun4i Vectored Interrupt Controller"
	default n
	help
		Allwinner Sun4i (A10 & A13) Vectored Interrupt Controller driver.

config CONFIG_OMAP_INTC
	bool "OMAP2+ Interrupt Controller"
	default n
	help
		TI OMAP2+ (OMAP2 and OMAP3) Interrupt Controller (INTC) driver.

endmenu

