#/**
# Copyright (c) 2011 Pranav Sawargaonkar.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    openconf.cfg
# @author  Pranav Sawargaonkar (pranav.sawargaonkar@gmail.com)
# @brief   Config file for ARM
#*/

config CONFIG_CPU
	string
	default "arm32"

config CONFIG_CPU_LE
	bool
	default y

config CONFIG_CPU_BE
	bool
	default n

menu "ARM 32-Bit Options"

config CONFIG_ARM32_HIGHVEC
	bool "Enable High Exception Vectors"
	default n
	help
		This sets 0xFFF00000 as exception vector base.
		By default it is 0x00000000

config CONFIG_ARM32_FUNCSTATS
	bool "Enable VCPU Function Statistics"
	default n
	help
		With this option xvisor will gather statistics per VCPU of 
		crucial functions and average time spent in these functions.

config CONFIG_ARMV7A_SECUREX
	bool "Enable ARMv7 Security Extensions"
	default n

endmenu
