#/**
# Copyright (c) 2013 Sukanto Ghosh.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    openconf.cfg
# @author  Sukanto Ghosh (sukantoghosh@gmail.com)
# @brief   Board config file for Generic board
# */

config CONFIG_GENERIC_VERSATILE
	bool "Versatile Platform"
	depends on CONFIG_ARMV5
	default y
	select CONFIG_VERSATILE_CLCD
	help
	 This option enables Versatile platform support for
	 Versatile-PB and Versatile-AB boards

config CONFIG_GENERIC_IMX2X
	bool "i.MX 2X Platform"
	depends on CONFIG_ARMV5
	default n
	select CONFIG_ARCH_MXC
	help
	 This option enables platform support for
	 i.MX 2X (i.MX25, i.MX27, ...) boards

config CONFIG_GENERIC_REALVIEW
	bool "Realview Platform"
	depends on CONFIG_ARMV6 || CONFIG_ARMV7A
	default y
	select CONFIG_REALVIEW_CONFIG
	select CONFIG_VERSATILE_CLCD
	select CONFIG_COMMON_CLK_VERSATILE
	help
	 This option enables Realview platform support for
	 Realview-EB-MPCore and Realview-PB-A8 boards

config CONFIG_GENERIC_VEXPRESS
	bool "VExpress Platform"
	depends on CONFIG_ARMV7A || CONFIG_ARMV7A_VE
	default y
	select CONFIG_VEXPRESS_CONFIG
	select CONFIG_VERSATILE_CLCD
	help
	 This option enables VExpress platform support for
	 VExpress-A9 and VExpress-A15 boards

config CONFIG_GENERIC_OMAP3
	bool "OMAP3 SOC Support"
	depends on CONFIG_ARMV7A
	select CONFIG_BBFLASH
	select CONFIG_OMAP
	help
	 OMAP3xxx SOC family from TI

config CONFIG_GENERIC_SABRELITE
	bool "Freescale Sabrelite Platform"
	depends on CONFIG_ARMV7A
	default y
	select CONFIG_SMP
	select CONFIG_ARCH_MXC
	select CONFIG_SABRELITE_CONFIG
	select CONFIG_COMMON_CLK_MXC
	help
	 This option enables Freescale Sabrelite platform
	 support for Freescale Sabrelite and
	 Boundary Devices Nitrogen6x boards

config CONFIG_GENERIC_EXYNOS4
	bool "Exynos 4 SOC Support"
	depends on CONFIG_ARMV7A
	select CONFIG_EXYNOS
	select CONFIG_ARM_GIC
	select CONFIG_SAMSUNG_MCT
	select CONFIG_SAMSUNG_MCT_LOCAL_TIMERS
	select CONFIG_SERIAL
	select CONFIG_SERIAL_SAMSUNG
	help
	 Exynos 4 SOC family from Samsung

config CONFIG_GENERIC_BCM2836
	bool "BCM2836 SOC Support"
	depends on CONFIG_ARMV7A_VE
	default y
	help
	 This option enables support for BCM2836 SOC from Broadcom.
