#/**
# Copyright (c) 2014 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Anup Patel (anup@brainfault.org)
# @brief config file for power-off or reset drivers.
# */

menu "Power-off or Reset Drivers"

config CONFIG_POWER_RESET
	bool "Board level reset or power-off"
	depends on CONFIG_POWER_SUPPLY
	help
	  Provides a number of drivers which either reset a complete
	  board or shut it down, by manipulating the main power supply
	  on the board.

	  Say Y here to enable board reset and power off

config CONFIG_POWER_RESET_REALVIEW
	bool "ARM Realview power-off and reset driver"
	depends on CONFIG_POWER_RESET && CONFIG_REALVIEW_CONFIG
	help
	  Power off and reset support for the ARM Ltd. Realview
	  boards.

config CONFIG_POWER_RESET_VEXPRESS
	bool "ARM Versatile Express power-off and reset driver"
	depends on CONFIG_POWER_RESET && CONFIG_VEXPRESS_CONFIG
	help
	  Power off and reset support for the ARM Ltd. Versatile
	  Express boards.

config CONFIG_POWER_RESET_BCM2835
	bool "BCM2835 power-off and reset driver"
	depends on CONFIG_POWER_RESET
	help
	  Say Y here to enable Broadcom BCM2835 (Raspberry Pi)
	  power-off and reset driver.

config CONFIG_POWER_RESET_SUN4I
	bool "Sun4i reset driver"
	depends on CONFIG_POWER_RESET
	help
	  Say Y here to enable Allwinner Sun4i reset driver.

endmenu

