#/**
# Copyright (c) 2010 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @version 1.0
# @author Anup Patel (anup@brainfault.org)
# @brief config file for architecture options
# */

config CONFIG_SMP
	bool
	default n
	help
	 Target architecture is SMP or not. This option will be 
	 automatically enabled by CPU specific config.

choice
	prompt "Target Architecture"
	default CONFIG_ARCH_ARM
	help
	  The architecture of your target.

config CONFIG_ARCH_ARM
	bool "arm"
	help
	 ARM support

config CONFIG_ARCH_MIPS
       bool "mips"
	help
	 MIPS support

endchoice

if CONFIG_ARCH_MIPS
source "arch/mips/openconf.cfg"
endif

if CONFIG_ARCH_ARM
source "arch/arm/openconf.cfg"
endif
