#/**
# Copyright (c) 2010 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Anup Patel (anup@brainfault.org)
# @brief config file for system device emulators.
# */

menu "System Emulators"

config CONFIG_EMU_SYS
	tristate "Enable System Emulators"
	default n
	help
		Enable/Disable system device emulators.

config CONFIG_EMU_SYS_ARM_SYSREGS
	tristate "ARM System-Registers"
	default n
	depends on CONFIG_EMU_SYS
	help
		Realview and VExpress-A9 System Status and Control.

config CONFIG_EMU_SYS_SP810
	tristate "SP810 (System Contoller)"
	default n
	depends on CONFIG_EMU_SYS
	help
		AMBA Compliant System Controller SP810.

config CONFIG_EMU_SYS_VMINFO
	tristate "Guest/VM Info"
	default n
	depends on CONFIG_EMU_SYS
	help
		Guest/VM Info paravirt emulator.

endmenu
