#/**
# Copyright (c) 2012 Anup Patel.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Anup Patel (anup@brainfault.org)
# @brief config file for networking support.
# */

config CONFIG_NET
	tristate "Networking Framework"
	default n
	help
		Enable networking support for Xvisor.

config CONFIG_NET_MBUF_POOL_SIZE
	int "Network buffer pool size (number of mbufs)"
	default 2048
	depends on CONFIG_NET
	help
		Specify the size of network buffer pool
		in terms of number of buffers.

config CONFIG_NET_MBUF_EXT_POOL_SIZE_KB
	int "Network buffer external storage pool size (in KBs)"
	default 256
	depends on CONFIG_NET
	help
		Specify the size of network buffer external storage
		in terms of KBs.

config CONFIG_NET_BH_TIMEOUT_SECS
	int "Network switch bottom-half maximum timeout (seconds)"
	range 1 100
	default 30
	depends on CONFIG_NET
	help
		Specify the maximum timeout in seconds for the
		network switch bottom-half thread.


