CONFIG_ARCH_RISCV=y
CONFIG_RISCV_CPU_GENERIC=y
CONFIG_RISCV_64BIT=y
CONFIG_CMODEL_MEDANY=y
CONFIG_RISCV_BOARD_GENERIC=y
CONFIG_SCHEDALGO_PRR=y
CONFIG_TSLICE_10MS=y
CONFIG_BLOCK=y
CONFIG_NET=y
CONFIG_VIRTIO=y
CONFIG_VMSG=y
CONFIG_VSERIAL=y
CONFIG_VSPI=y
CONFIG_VDISK=y
CONFIG_VDISPLAY=y
CONFIG_VINPUT=y
CONFIG_VSDAEMON=y
CONFIG_VSDAEMON_CHARDEV=y
CONFIG_VSDAEMON_MTERM=y
CONFIG_VFS=y
CONFIG_VFS_CPIO=y
CONFIG_VFS_EXT4=y
CONFIG_VFS_FAT=y
CONFIG_SCSI=y
CONFIG_SCSI_DISK=y
CONFIG_RISCV_INTC=y
CONFIG_SIFIVE_PLIC=y
CONFIG_RISCV_TIMER=y
CONFIG_SERIAL=y
CONFIG_SERIAL_8250_UART=y
CONFIG_RTC=y
CONFIG_RTC_GOLDFISH=y
CONFIG_BLOCK_RBD=y
CONFIG_BLOCK_INITRD=y
CONFIG_BLOCK_VIRTIO_HOST=y
CONFIG_VIRTIO_HOST=y
CONFIG_VIRTIO_HOST_MMIO=y
CONFIG_EMU_VIRTIO_MMIO=y
CONFIG_EMU_SYS=y
CONFIG_EMU_SYS_VMINFO=y
CONFIG_EMU_PIC=y
CONFIG_EMU_PIC_PLIC=y
CONFIG_EMU_MISC_ZERO=y
CONFIG_EMU_PT_PLATFORM=y
CONFIG_EMU_NET=y
CONFIG_EMU_NET_VIRTIO=y
CONFIG_EMU_BLOCK=y
CONFIG_EMU_BLOCK_VIRTIO=y
CONFIG_EMU_DISPLAY=y
CONFIG_EMU_DISPLAY_SIMPLEFB=y
CONFIG_EMU_INPUT=y
CONFIG_EMU_INPUT_VIRTIO=y
CONFIG_EMU_SERIAL=y
CONFIG_EMU_SERIAL_NS16550=y
CONFIG_EMU_CONSOLE=y
CONFIG_EMU_CONSOLE_VIRTIO=y
CONFIG_EMU_RPMSG=y
CONFIG_EMU_RPMSG_VIRTIO=y
CONFIG_EMU_RTC=y
CONFIG_EMU_RTC_GOLDFISH=y
