
/ {
	#address-cells = <2>;
	#size-cells = <2>;
	compatible = "arm,vexpress";
	model = "vexpress-a15-nove";

	chosen { };
	aliases { };

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <0>;
			enable-method = "spin-table";
			cpu-clear-addr = <0x1C010034>;
			cpu-release-addr = <0x1C010030>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <1>;
			enable-method = "spin-table";
			cpu-clear-addr = <0x1C010034>;
			cpu-release-addr = <0x1C010030>;
		};
	};

	memory {
		device_type = "memory"; 
		reg = <0x0 0x80000000 0x0 0x20000000>; /* 512 MB */
	};

	gic { /* Generic Interrupt Controller */
      		device_type = "pic";
      		compatible = "arm,cortex-a15-gic";
      		reg = <0x0 0x2C001000 0x0 0x1000   /* Dist Interface */
		       0x0 0x2C002000 0x0 0x1000>; /* CPU Interface */
		irq_start = <16>;
	};

	dcc {
		compatible = "arm,vexpress,config-bus";
		arm,vexpress,config-bridge = <&v2m_sysreg>;

		osc@0 {
			/* CPU PLL reference clock */
			compatible = "arm,vexpress-osc";
			arm,vexpress-sysreg,func = <1 0>;
			freq-range = <50000000 60000000>;
			#clock-cells = <0>;
			clock-output-names = "oscclk0";
		};

		osc@4 {
			/* Multiplexed AXI master clock */
			compatible = "arm,vexpress-osc";
			arm,vexpress-sysreg,func = <1 4>;
			freq-range = <20000000 40000000>;
			#clock-cells = <0>;
			clock-output-names = "oscclk4";
		};

		oscclk5: osc@5 {
			/* HDLCD PLL reference clock */
			compatible = "arm,vexpress-osc";
			arm,vexpress-sysreg,func = <1 5>;
			freq-range = <23750000 165000000>;
			#clock-cells = <0>;
			clock-output-names = "oscclk5";
		};

		smbclk: osc@6 {
			/* SMB clock */
			compatible = "arm,vexpress-osc";
			arm,vexpress-sysreg,func = <1 6>;
			freq-range = <20000000 50000000>;
			#clock-cells = <0>;
			clock-output-names = "oscclk6";
		};

		oscclk7: osc@7 {
			/* SYS PLL reference clock */
			compatible = "arm,vexpress-osc";
			arm,vexpress-sysreg,func = <1 7>;
			freq-range = <20000000 60000000>;
			#clock-cells = <0>;
			clock-output-names = "oscclk7";
		};

		osc@8 {
			/* DDR2 PLL reference clock */
			compatible = "arm,vexpress-osc";
			arm,vexpress-sysreg,func = <1 8>;
			freq-range = <40000000 40000000>;
			#clock-cells = <0>;
			clock-output-names = "oscclk8";
		};
	};

	smb {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";

		motherboard {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "simple-bus";

			eth0 {
				device_type = "nic";
				compatible = "smc91x";
				reg = <0x1A000000 0x1000>;
				interrupts = <47>;
				switch = "br0";
			};

			iofpga {
				#address-cells = <1>;
				#size-cells = <1>;

				v2m_sysreg: sysreg@010000 { /* System Registers */
			      		device_type = "sys";
			      		compatible = "arm,vexpress-sysreg";
			      		reg = <0x1C010000 0x1000>;
				};

				v2m_sysctl: sysctl@020000 { /* System Controller */
			      		device_type = "sys";
			      		compatible = "arm,sp810";
			      		reg = <0x1C020000 0x1000>;
					clocks = <&v2m_refclk32khz>, <&v2m_refclk1mhz>, <&smbclk>;
					clock-names = "refclk", "timclk", "apb_pclk";
					#clock-cells = <1>;
					clock-output-names = "timerclken0", "timerclken1", "timerclken2", "timerclken3";
				};

				mmci@050000 { /* Multimedia Card Interface */
			      		device_type = "mmc";
			      		compatible = "arm,pl180";
			      		reg = <0x1C050000 0x1000>;
					interrupts = <41 42>;
					clocks = <&v2m_clk24mhz>, <&smbclk>;
					clock-names = "mclk", "apb_pclk";
				};

				kmi@060000 { /* Keyboard */
			      		device_type = "serio";
			      		compatible = "ambakmi";
			      		reg = <0x1C060000 0x1000>;
					interrupts = <44>;
					clocks = <&v2m_clk24mhz>, <&smbclk>;
					clock-names = "KMIREFCLK", "apb_pclk";
				};

				kmi@070000 { /* Mouse */
			      		device_type = "serio";
			      		compatible = "ambakmi";
			      		reg = <0x1C070000 0x1000>;
					interrupts = <45>;
					clocks = <&v2m_clk24mhz>, <&smbclk>;
					clock-names = "KMIREFCLK", "apb_pclk";
				};

				SERIAL0: v2m_serial0: uart@090000 {
			      		compatible = "arm,pl011";
			      		reg = <0x1C090000 0x1000>;
					clock-frequency = <24000000>;
					interrupts = <37>;
					clocks = <&v2m_oscclk2>, <&smbclk>;
					clock-names = "uartclk", "apb_pclk";
				};

				v2m_timer01: timer@110000 {
			      		device_type = "timer";
			      		compatible = "arm,sp804";
			      		reg = <0x1C110000 0x1000>;
					interrupts = <34>;
					clocks = <&v2m_sysctl 0>, <&v2m_refclk32khz>, <&smbclk>;
					clock-names = "timclken1", "timclken2", "apb_pclk";
				};

				v2m_timer23: timer@120000 {
			      		device_type = "timer";
			      		compatible = "arm,sp804";
			      		reg = <0x1C120000 0x1000>;
					interrupts = <35>;
					clocks = <&v2m_sysctl 2>, <&v2m_refclk32khz>, <&smbclk>;
					clock-names = "timclken1", "timclken2", "apb_pclk";
				};

				RTC0: rtc@170000 {
			      		device_type = "rtc";
			      		compatible = "arm,pl031";
			      		reg = <0x1C170000 0x1000>;
					interrupts = <36>;
					clocks = <&smbclk>;
					clock-names = "apb_pclk";
				};

				clcd@1f0000 {
			      		device_type = "fb";
			      		compatible = "arm,pl111";
			      		reg = <0x1C1F0000 0x1000>;
					clocks = <&v2m_oscclk1>, <&smbclk>;
					clock-names = "clcdclk", "apb_pclk";
					use_dma = <0>;
					framebuffer = <0x18000000 0x00180000>;
				};
			};

			v2m_clk24mhz: clk24mhz {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <24000000>;
				clock-output-names = "v2m:clk24mhz";
			};

			v2m_refclk1mhz: refclk1mhz {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <1000000>;
				clock-output-names = "v2m:refclk1mhz";
			};

			v2m_refclk32khz: refclk32khz {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <32768>;
				clock-output-names = "v2m:refclk32khz";
			};

			mcc {
				compatible = "arm,vexpress,config-bus";
				arm,vexpress,config-bridge = <&v2m_sysreg>;

				osc@0 {
					/* MCC static memory clock */
					compatible = "arm,vexpress-osc";
					arm,vexpress-sysreg,func = <1 0>;
					freq-range = <25000000 60000000>;
					#clock-cells = <0>;
					clock-output-names = "v2m:oscclk0";
				};

				v2m_oscclk1: osc@1 {
					/* CLCD clock */
					compatible = "arm,vexpress-osc";
					arm,vexpress-sysreg,func = <1 1>;
					freq-range = <23750000 63500000>;
					#clock-cells = <0>;
					clock-output-names = "v2m:oscclk1";
				};

				v2m_oscclk2: osc@2 {
					/* IO FPGA peripheral clock */
					compatible = "arm,vexpress-osc";
					arm,vexpress-sysreg,func = <1 2>;
					freq-range = <24000000 24000000>;
					#clock-cells = <0>;
					clock-output-names = "v2m:oscclk2";
				};

				volt@0 {
					/* Logic level voltage */
					compatible = "arm,vexpress-volt";
					arm,vexpress-sysreg,func = <2 0>;
					regulator-name = "VIO";
					regulator-always-on;
					label = "VIO";
				};

				temp@0 {
					/* MCC internal operating temperature */
					compatible = "arm,vexpress-temp";
					arm,vexpress-sysreg,func = <4 0>;
					label = "MCC";
				};

				reset@0 {
					compatible = "arm,vexpress-reset";
					arm,vexpress-sysreg,func = <5 0>;
				};

				muxfpga@0 {
					compatible = "arm,vexpress-muxfpga";
					arm,vexpress-sysreg,func = <7 0>;
				};

				shutdown@0 {
					compatible = "arm,vexpress-shutdown";
					arm,vexpress-sysreg,func = <8 0>;
				};

				reboot@0 {
					compatible = "arm,vexpress-reboot";
					arm,vexpress-sysreg,func = <9 0>;
				};

				dvimode@0 {
					compatible = "arm,vexpress-dvimode";
					arm,vexpress-sysreg,func = <11 0>;
				};
			};
		};
	};

	vmm {
		net {
			br0 {
				device_type = "netswitch";
				compatible = "bridge";
			};
		};
	};
};

/* Add guest templates */
/include/ "../../../../common/guests/realview-pb-a8.dtsi"
/include/ "../../../../common/guests/vexpress-a9x2.dtsi"
/include/ "../../../../common/guests/vexpress-a15x2.dtsi"

