#/**
# Copyright (C) 2014 Institut de Recherche Technologique SystemX and OpenWide.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Jimmy Durand Wesolowski (jimmy.durand-wesolowski@openwide.fr)
# @author Anup Patel (anup@brainfault.org)
# @brief config file for the MTD driver supported by xvisor.
# */

menu "MTD drivers"

config CONFIG_MTD
        tristate "Memory Technology Device (MTD) support"
        help
          Memory Technology Devices are flash, RAM and similar chips, often
          used for solid state file systems on embedded devices. This option
          will provide the generic support for MTD drivers to register
          themselves with the kernel and for potential users of MTD devices
          to enumerate the devices which are present and obtain a handle on
          them. It will also allow you to select individual drivers for
          particular hardware and users of MTD devices. If unsure, say N.


source "drivers/mtd/devices/openconf.cfg"

endmenu # MTD drivers
