
/dts-v1/;

/include/ "foundation-v8.dtsi"

/ {
	chosen {
		console = &SERIAL0;
		bootcmd = /* Copy guest0 device tree from templates */
			  "devtree node copy /guests guest0 /templates/virt-v8x2",

			  /* Update guest0 memory regions */
			  "devtree attr set /guests/guest0/aspace/mem0 host_physical_addr physaddr 0x82000000",
			  "devtree attr set /guests/guest0/aspace/mem0 physical_size physsize 0x06000000",

			  /* Update guest0 flash region */
			  "devtree attr set /guests/guest0/aspace/nor_flash0 host_physical_addr physaddr 0x81000000",
			  "devtree attr set /guests/guest0/aspace/nor_flash0 physical_size physsize 0x01000000",

			  /* Connect guest0/virtio-net0 netport to netbridge0 */
			  "devtree attr set /guests/guest0/aspace/virtio-net0 switch string netbridge0",

			  /* Replace guest0 GIC emulator with vGIC emulator */
			  "devtree node copy /guests/guest0/aspace gic_cpu /guests/guest0/aspace/gic",
			  "devtree attr set /guests/guest0/aspace/gic_cpu manifest_type string real",
			  "devtree attr set /guests/guest0/aspace/gic_cpu guest_physical_addr physaddr 0x2C002000",
			  "devtree attr set /guests/guest0/aspace/gic_cpu host_physical_addr physaddr 0x2C006000",
			  "devtree attr set /guests/guest0/aspace/gic_cpu physical_size physsize 0x1000",
			  "devtree attr del /guests/guest0/aspace/gic_cpu compatible",
			  "devtree attr del /guests/guest0/aspace/gic_cpu parent_irq",
			  "devtree node copy /guests/guest0/aspace gic_dist /guests/guest0/aspace/gic",
			  "devtree attr set /guests/guest0/aspace/gic_dist guest_physical_addr physaddr 0x2C001000",
			  "devtree attr set /guests/guest0/aspace/gic_dist physical_size physsize 0x1000",
			  "devtree attr set /guests/guest0/aspace/gic_dist compatible string arm,vgic",
			  "devtree node del /guests/guest0/aspace/gic",

			  /* Create guest0 */
			  "guest create guest0";
	};
};

