#/**
# Copyright (c) 2013 Sukanto Ghosh.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    openconf.cfg
# @author  Sukanto Ghosh (sukantoghosh@gmail.com)
# @brief   Board config file for Generic ARMv8 board
# */

menu "Generic-v8 Options"

config CONFIG_FOUNDATION_V8_ONE_GUEST_PB_A8_DTS
	bool "1x realview-pb-a8 guest DTS"
	default y
	help
	 This option enables DTS for one Realview-PB-A8 guest

config CONFIG_FOUNDATION_V8_ONE_GUEST_VEXPRESS_A9_DTS
	bool "1x vexpress-a9 guest DTS"
	default y
	help
	 This option enables DTS for one VExpress-A9 guest

config CONFIG_FOUNDATION_V8_ONE_GUEST_VEXPRESS_A15_DTS
	bool "1x vexpress-a15 guest DTS"
	default y
	help
	 This option enables DTS for one VExpress-A15 guest

config CONFIG_FOUNDATION_V8_ONE_GUEST_VIRT_V8_DTS
	bool "1x virt-v8 guest DTS"
	default y
	help
	 This option enables DTS for one virt-v8 paravirtualized guest

endmenu
