#/**
# Copyright (c) 2014 Pranavkumar Sawargaonkar.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Pranavkumar Sawargaonkar (pranav.sawargaonkar@gmail.com)
# @brief config file for Pin Control drivers supported by xvisor.
# */

menu "Pin Controller"

config CONFIG_PINCTRL
	bool "Core"
	default n
	help

if CONFIG_PINCTRL
config CONFIG_PINMUX
	bool "Support pin multiplexing controllers"
	default n
	help

config CONFIG_PINCONF
	bool "Support pin configuration controllers"
	default n
	help

config CONFIG_GENERIC_PINCONF
	bool "Generic Pinconf"
	default n
	help

endif

endmenu
